html, body {
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 16px;
}

.intro{
    min-height: 100%;
    background: url('../img/bg.jpg');
    background-size: cover;
}

.intro-title{
    margin-top: 35%;
}

.page-intro{
    height: 250px;
    background: url('../img/bg.jpg');
    background-size: cover;
}

.page-intro-title{
    color: #fff;
    margin-top: 100px;
}

.navbar.stretch .navbar-nav>li>a{
    padding: 0px 20px;
}

.navbar.stretch .navbar-brand {
    margin-top: -15px;
}

/*search box frontpage*/
.search-box .title{
    position: absolute;
    top: -66px;
    left: 0;
    background: #cf032b;
    padding: 10px;
    text-transform: uppercase;
}
.search-box label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 15px;
}
.search-box .form-group {
    margin-bottom: 0;
}
.search-box .form-control{
    border-radius: 0px;
    border: solid 1px #E4E4E4;
    background: #fff;
    /*padding: 10px 16px;*/
    color: #888;
    height: auto;
    line-height: normal !important;
}
.search-box{
    margin-top: 35%;
    display: -webkit-box;
    position: relative;
}

.search-box .search-body{
    color: #fff;
    padding: 25px 10px;
    background: rgba(0,0,0,0.7);
}

.search-box .btn-search{
    background: #cf032b;
    color: #fff;
    width: 100%;
    border-radius: 0px;
    margin-top: 25px;
    font-size: 18px;
    font-weight: normal;
    padding: 10px;
    transition: .3s all;
}
.search-box .btn-search:hover{
    background: #a50726;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 0px;
    background-color: #fff;
    margin-bottom: 15px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

@media(min-width:768px) {
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
        background: transparent;
    }
    .navbar-default{
        background: #cf032b !important;
        margin-bottom: 0px;
        border-radius: 0px;
        border-bottom: none;
    }
    .content{
        padding: 40px 0px;
    }
    .navbar .nav{
        padding: 15px;
    }
    .navbar .nav>li{
        margin-left: 5px;
    }
    .navbar .navbar-left{
        background: #333;
        display: block;
        height: 100%;
    }
    .navbar-left>li>a{
        padding: 10px 20px;
    }
    .navbar-right>li>a{
        padding: 10px 35px;
    }
    .navbar .nav>li>a{
        color: #fff !important;
        font-size: 15px;
        font-weight: normal;
        transition: .3s all;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        border: 1px solid transparent;
    }
    .navbar .nav>li>a:hover{
        border: 1px solid #fff;
        border-radius: 0px;
    }
    .navbar .nav>li.active a{
        border: 1px solid #fff;
    }
    .navbar-default .navbar-brand{
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        padding-top: 18px;

    }
    .navbar-default .navbar-brand:hover{
        color: #fff;
    }
    .navbar-default .navbar-brand span{
        display: block;
        font-size: 14px;
    }
    .navbar .navbar-left>li>a{
        border: 1px solid #fff;
    }
    .navbar .navbar-left>li>a:hover{
        background: #fff !important;
        color: #222 !important;
    }
}


@media(max-width:768px) {

}

.footer-contact{
    height: 450px;
}

.footer-contact .footer-title{
    position: relative;
    text-align: center;
}

.footer-contact .footer-title::before{
    content: '';
    bottom: -15px;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    width: 100px;
    height: 1px;
    margin: 0 auto;
    background: #fff;
}

.footer-copyright{
    background: #fff;
    color: #999;
    font-size: 14px;
}

.footer-copyright .content{
    padding: 30px 15px;
}

/* TO TOP */
#toTop{
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    display: none;
    background: #cf032b;
    border-radius: 0px;
    color: #fff;
    opacity: 1;
    padding-top: 10px;
}

/* FLOTA */
.panel-footer .btn-reserve{
    color: #fff;
    font-size: 16px;
    background: #cf032b;
    padding: 10px 20px;
    border-radius: 0px;
    text-transform: uppercase;
    transition: .3s all;
}

.panel-footer .btn-reserve:hover{
    background: #a50726;
}
.borderless td, .borderless th {
    border: none !important;
}